# Editors / OS
.DS_Store
Thumbs.db
.idea/
*.swp

# Python
__pycache__/
*.pyc
.venv/
.env

# Logs
*.log

# Ignore build output and temp files
**/build/
**/*.elf
**/*.bin
**/*.map
**/sdkconfig.old

# Python virtual env
.python_env/

# VSCode
.vscode/
*.code-workspace


